# Viat Feature Extractor Config File

DEBUG_LEVEL             = 2

MAX_AUDIO_LEN           = 6
MIN_AUDIO_LEN           = 2

#other samplerates than 8kHz are not yet supported 
SAMPLERATE              = 8000 

# Preemphasize higher frequencies, 0 is off, 99 is max (complies to 0.99 in code)
PREEMPHASIZE_FACTOR     = 0

# Voice Activity Detection Threshold (1-100)
VAD_THRESHOLD           = 20

# Threshold for declicker should be between 1 and 50
DECLICKER_THRESHOLD     = 40

# STFT
WINDOWSIZE              = 2960
STEPSIZE                = 94

# Hash
MAX_HASH_LEN            = 100
NUMBER_OF_MFCC          = 12
NUMBER_OF_MEL_COEFF     = 20
ENERGY_THRESHOLD        = 50

# Mel Filterbank
HICUT                   = 1800
LOCUT                   = 300

# Wavelet Hash, Bitlength:
# If J = 1:				2^(FACTOR) - 1
# Otherwise:			2^(FACTOR - 1) * (J + 1) - 1
#
# Possible values for NM:
# haar, db1, db2, db3, db4, db5, db6, db7, db8, db9, db10, db11, db12, db13, db14, db15
# bior1.1, bio1.3, bior1.5, bior2.2, bior2.4,bior2.6,bior2.8, bior3.1, bior3.3, bior3.5, bior3.7, bior3.9, bior4.4, bior5.5, bior6.8
# coif1, coif2, coif3, coif4, coif5
# sym2, sym3, sym4, sym5, sym6, sym7, sym8, sym9, sym10
NM						= db5
J						= 1
FACTOR					= 5