# Viat Feature Extractor Config File

# Voice Activity Detection Threshold (1-100)
VAD_THRESHOLD 		 = 20

# Threshold for declicker should be between 1 and 50
DECLICKER_THRESHOLD  = 40

# STFT
WINDOWSIZE            = 2960
STEPSIZE              = 94

# Hash
MAX_HASH_LEN          = 100
NUMBER_OF_MFCC        = 12
NUMBER_OF_MEL_COEFF   = 20
ENERGY_THRESHOLD      = 50

# Mel Filterbank
HICUT                 = 1800
LOCUT                 = 300

# Sockets
IP_ADDRESS            = 127.0.0.1
PORT				  = 3000
